# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directories
build
ninja_build
netbeans_build

# IDE and editor config stuff
.ycm_extra_conf.pyc
.kdev4
gameProject.kdev4
nbproject
log.txt
